:root {
  --primary: #051661;
  --primary-old: #1c1537;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --tertiary: #1c1537;
  --accent: #7c58f6;
  --accent-old: #be549c;
  --accent-text: #ffffff;
  --aj-box: #7c58f6; 
  --aj-background: #051661; 
}

/* purple = #5a2448; */ 